{% extends 'admin_base.html' %}

{% block main %}
  {% url 'store_item_add' as store_item_add_url %}

  <div class="text-left mb-2">
    <a href="{{ store_item_add_url }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add Item</a>
  </div>
  <table class="table table-hover align-middle bg-white border text-secondary table-item w-100 m-0">
    <thead class="small text-light">
      <tr class="bg-purple">
        <th>Image</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="align-items-center">
      {% for item in items %}
        <tr>
          <td class="align-middle">
            {% if item.images.first %}
              <img src="{{ item.images.first.image.url }}" alt="" />
            {% else %}
              <i class="fa-solid fa-image" style="font-size:58px;"></i>
            {% endif %}
          </td>
          <td class="align-middle">{{ item.name }}</td>
          <td class="align-middle">{{ item.price }}</td>
          <td class="align-middle">{{ item.stock }}</td>
          <td class="align-middle">{{ item.category.name }}</td>
          <td class="align-middle">
            {% for tag in item.tags.all %}
              {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td class="align-middle">
            <!-- Edit and delete buttons -->
            <a href="{% url 'store_item_edit' item.id %}" class="btn-yellow"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="{% url 'store_item_delete' item.id %}" class="btn-red"><i class="fa-solid fa-trash-can"></i></a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7">No products found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
