.about-banner img{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}



/* 既存のスタイル */
.team_member_box {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f8f9fa;
  transition: all 0.4s ease-in-out;
  margin: 20px;
  padding: 20px;
  text-align: center;  
  align-items: center;
  position: relative;
  overflow: hidden;
  max-height: 400px;
}
.team_member_box img {
  width: 100%;
  height: 200px !important;
  object-fit: cover;
  height: auto;
}

.team_member_box:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  transform: translateY(-10px); 
  background-color: #e3f2fd; 
}

.team_member_box h3 {
  font-size: 24px;
  margin: 15px 0;
  padding: 0;
  color: #007bff; 
}

.team_member_box p {
  font-size: 14px;
  color: #343a40; 
}

.member_comment {
  font-size: 14px;
  color: #343a40;
  margin: 10px 0;
  max-height: 100px; 
  overflow-y: auto;  
  padding-right: 8px; 
}
.member_comment::-webkit-scrollbar {
  width: 3px;
}

.member_comment::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 4px;
}

.member_position {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 5px;
  padding: 0.5em 1.2em;      
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
  background: linear-gradient(135deg, #6a11cb, #2575fc);  
  border-radius: 20px;  
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

/* 画面が768px以下になったときのスタイル */
@media (max-width: 768px) {
  .team_member_box {
    margin: 10px;
    padding: 15px;
    max-height: 350px;
  }
  .team_member_box img {
    height: 180px !important;
  }
  .team_member_box h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  .team_member_box p {
    font-size: 12px;
  }
  .member_comment {
    font-size: 13px;
    max-height: 80px;
  }
  .member_position {
    top: 5px;
    right: 5px;
    padding: 0.3em 0.8em;
    font-size: 10px;
  }
}
