.blog_post{
  font-size: 12px!important;
}

.blog_post p{
  margin: 0;
}

.blog_post_title a {
  font-size: 20px !important;
  margin: 0;
  color: var(--colorBlack);
}

.blog_post_title a:hover {
  color: var(--colorPurple);
}

.blog_post_date {
  font-size: 12px !important;
  text-align: right;
  margin:0;
}

.blog_post_img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog_post_content {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog_post_content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px); 
  filter: brightness(1.025);
}

@media (max-width: 768px) {

  .blog_post_title a {
    font-size: 20px;
  }

  .blog_post_date {
    font-size: 14px;
  }

  .blog_post_img {
    height: 200px;
  }

}