{% extends 'base.html' %}
{% block style %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/about.css' %}" />
{% endblock %}

{% block main %}
  <section>
    <div class="container">
      <div class="row">
        <div class="my-3">
          <h1 class="fs-4">About Us</h1>
        </div>
      </div>
      <div class="about-banner mb-5">
        {% if about_item.header_image %}
          <img src="{{ about_item.header_image.url }}" alt="Header Image" class="img-fluid">
        {% else %}
          <img src="{% static 'images/top_view.jpg' %}" alt="Header Image" class="img-fluid"/>
        {% endif %}
      </div>
      <h1 class="section_title">Our Story</h1>
      <div class="row section_item my-3">
        {% if about_item.store_description %}
          <p>{{ about_item.store_description|linebreaksbr }}</p>
        {% else %}
          <div class="col-12 text-center">
            <p class="inform_icon">
              <i class="fa-solid fa-comment-slash"></i>
            </p>
            <p class="mb-3">We currently have no store description available. Our team is working diligently to update our information, Thank you for your patience.</p>
          </div>
        {% endif %}
      </div>
      <h1 class="section_title">Meet the Team</h1>
      <div class="row section_item my-3">
        {% if about_item.team_comment %}
          <p>{{ about_item.team_comment|linebreaksbr}}</p> 
        {% else %}
          <div class="col-12 text-center">
            <p class="inform_icon">
              <i class="fa-solid fa-comment-slash"></i>
            </p>
            <p class="mb-3">We currently have no store description available. Our team is working diligently to update our information, Thank you for your patience.</p>
          </div>
        {% endif %}
      </div>
        <h2 class="section_title">Member</h2>

        <div class="row section_item mt-3 mb-5">
          {% for member in members %}
            <div class="col-6 col-md-4 col-lg-4 my-2 p-0">
              <div class="team_member_box">
                {% if member.profile_image %}
                  <img src="{{ member.profile_image.url }}" alt="{{ member.name }}" class="img-fluid">
                {% else %}
                  <i class="fa-solid fa-user-slash"></i>
                {% endif %}
                <h3 class="">{{ member.user.username }}</h3>
                <span class="member_position">{{ member.position }}</span>
                <p class="member_comment">{{ member.comment|linebreaksbr }}</p>
              </div>
            </div>
          {% empty %}
            <div class="col-12 text-center">
              <p class="inform_icon">
                <i class="fa-solid fa-user-slash"></i>
              </p>
              <p class="mb-3">No team members available.</p>
            </div>
          {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
