{% extends 'base.html' %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/list.css' %}" />
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 my-3">
        <h1 class="section_title">All Item</h1>
      </div>
    </div>

    <div class="categories_btn text-center mb-5">
      <a href="/all/items/" class="btn-blue">All</a>

      {% for category in CATEGORY_ITEMS %}
        <a href="/categories/{{ category.slug }}/" class="
        {% if category.slug == category_slug %}btn-blue{% else %}btn-blue-outline{% endif %}
        " >{{ category.name }}</a>
      {% endfor %}
    </div>
    <div class="row section_item">
      {% for object in object_list %}
        <div class="col-6 col-md-4 col-lg-3 my-2">
          {% include 'snippets/item_box.html' %}
        </div>
      {% endfor %}
    </div>

    <div class="row m-5">
      <div class="col-12 my-3">
        {% include 'snippets/pagination.html' %}
      </div>
    </div>
  </div>
{% endblock %}
