{% extends 'base.html' %}
 
{% block main %}
<div class="container my-5">
  <div class="row">
    <h3 class="mt-5">Payment Cancelled</h3>
    <div class="col-12 text-center">

      <p class="inform_icon">
        <i class="fa-solid fa-cat"></i>
      </p>
      <p class="mb-3">We're sorry, but your payment process was not completed. If you encountered an issue, please try again or contact our support team for assistance.</p>

      <p>You can view your cart <a href='/cart/'>here</a></p>
    </div>
  </div>
</div>
{% endblock %}