{% extends 'base.html' %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/contact.css' %}" />
{% endblock %}

{% block main %}
  <div class="container">
    <h1 class="section_title">Contact</h1>
    <div class="row my-4">
      <div class="col-7">
        <form method="POST">
          {% csrf_token %}
          {{ form.non_field.errors }}

          {% for field in form %}
            {{ field }}
            <br />
          {% endfor %}

          <div class="text-right">
            <button type="submit" class="btn-blue w-25">Save</button>
          </div>
        </form>
      </div>
      <div class="col-5">
        <div class="contact_card_1 card p-3 mb-3">
          <h5>Customer service</h5>
          <p>Give your customers more details about your online store.</p>
          <ul>
            <li>123-456-7890</li>
            <li>example@gmail.com</li>
          </ul>
        </div>
        <div class="contact_card_2 card p-3">
          <h5>Store Location</h5>
          <p>店舗住所：-------------------</p>
          <p>Give your customers more details about your online store.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
