{% block style %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/header.css' %}" />
{% endblock %}

{% block main %}
  <div class="header py-2">
    <nav class="d-flex flex-md-row justify-content-between align-items-center">
      <div class="logo">
        <a href="/">
          {% load static %}
          <img src="{% static 'images/logo.png' %}" />
          <h1 class="logo_title mt-2">{{ TITLE }}</h1>
        </a>
      </div>
      <div id="search_bar" class="d-none d-md-flex">
        <form class="form-inline my-2 d-flex">
          <div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search Item" aria-label="Search" />
          </div>
          <button class="btn-red-outline" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>

      <div class="d-none d-md-flex">
        <a href="/favorites/" class="header_icon"><i class="fa-solid fa-heart"></i></a>
        <a href="/cart/" class="header_icon position-relative">
          <i class="fa-brands fa-opencart"></i>
          {% if request.session.cart and request.session.cart.items|length != 0 %}
            <span class="cart_count position-absolute">{{ request.session.cart.items|length }}</span>
          {% endif %}
        </a>

        <div class="dropdown header_icon">
          <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-circle-user"></i></a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="/profile/"><i class="fa-solid fa-circle-user"></i> Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="/account/"><i class="fa-solid fa-circle-user"></i> Account</a>
              </li>
              <li>
                <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="/signup/">SignUp</a>
              </li>
              <li>
                <a class="dropdown-item" href="/login/">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>

      <!-- ハンバーガーアイコン -->
      <div class="d-md-none">
        <i class="fa-solid fa-bars text-white" id="menu-toggle"></i>
      </div>
      <!-- ハンバーガーメニュー -->
      <div id="navbarNav" class="d-md-none">
        <div class="nav_column">
          <div id="search_bar" class="px-3">
            <form class="form-inline my-2 d-flex">
              <div>
                <input class="form-control mr-sm-2" type="search" placeholder="Search Item" aria-label="Search" />
              </div>
              <button class="btn-red-outline" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
          <div class="dropdown header_icon">
            <a class="dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-circle-user"></i>
               Profile</a>
            <ul class="dropdown-menu">
              {% if user.is_authenticated %}
                <li>
                  <a class="dropdown-item" href="/profile/"><i class="fa-solid fa-circle-user"></i> Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/account/"><i class="fa-solid fa-circle-user"></i> Account</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </li>
              {% else %}
                <li>
                  <a class="dropdown-item" href="/signup/">SignUp</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/login/">Login</a>
                </li>
              {% endif %}
            </ul>
          </div>
          <a href="/favorites/" class="header_icon"><i class="fa-solid fa-heart"></i> <span>Favorite</span></a>
          <a href="/cart/" class="header_icon">
            <i class="fa-brands fa-opencart"></i>
            <span>Cart</span>
            {% if request.session.cart and request.session.cart.items|length != 0 %}
              <span class="badge badge-danger">{{ request.session.cart.items|length }}</span>
            {% endif %}
          </a>
        </div>
      </div>
      <!-- ハンバーガーメニュー END -->
    </nav>
  </div>

  <div class="sub_menu text-center">
    <a href="/" class="menu_item">TOP</a>

    <!-- CATEGORYドロップダウン -->
    <div class="dropdown d-inline" id="js-drawer">
      <a href="#" class="menu_item">CATEGORY</a>
      <ul class="drawer p-0" id="js-drawer-list">
        <li><a href="/all/items" class="drawer__menu">All</a></li>
        {% for category in CATEGORY_ITEMS %}
          <li><a href="/categories/{{ category.slug }}/" class="drawer__menu">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    

    <a href="/blog/" class="menu_item">BLOG</a>
    <a href="/about/" class="menu_item">ABOUT</a>
    <a href="/orders/" class="menu_item">ORDER</a>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'frontend/js/menu.js' %}"></script>
{% endblock %}
