{% extends 'store/blog_base.html' %}

{% block main %}
<section>
  <div class="container-fluid" style="margin-top:100px;">
    <div class="row">
      <div class="col-6 my-3">
        <h1 class="section_title">Blog</h1>
      </div>
      <div class="col-6 my-3 text-right align-middle">
        <!-- Edit and delete buttons -->
        <a href="{% url 'blog_edit' post.slug %}" class="btn-yellow"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="{% url 'blog_delete' post.slug %}" class="btn-red"><i class="fa-solid fa-trash-can"></i></a>
      </div>  
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ post.title }}</h2>
        </div>
        <div class="card-body">
          <p>{{ post.created_at|date:"F j, Y" }}</p>
          <div>{{ post.content|linebreaks }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
